body {
  background-image: url("Software Adoption.jpg");
}


#category-container {
  margin-top: 100px;
  width: 100%;
}

#categories-container {
  margin-top: 100px;
  display: flex;
  background-color: black;
  border-width: medium;
  border-color: white;
  width:auto;
  height: 700px;
}

#category1-container {
  margin-right: 40px;
}

.category-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.categoryPicture {
  height: 250px;
  width: 400px;
}
