/*Attributes for placeholder thmubnails*/
.thumbnail{
	max-width: 20%;
	min-width: 240px;
	float: left;
	margin-right: 5px;
}

/*Attributes for item text*/
.item-desc{
	padding-top: 3px;
	border-left: 5px;
}
