/* This sets the background picture to fit the whole page
    it is only used as a placeholder at the moment */
body {
  background-image: url("homebackground.jpg");
  background-size: cover;
}

/* This css sets the footer on the page to be fixed to the bottom of the page */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   font-family: "Verdana", sans-serif;
   text-align:left;
   padding: 0px;
}

/* This gives the mainSection in 'categoriespage.html' its positioning */
/*#mainSection {
  text-align: center;
  height: 100%;
  bottom: 0;
  border-radius: 25px;
}*/

.row-block {
  background-color: none;
}

/* The next 3 css code sections help give the category-container div and divs within the #category-container their styling */
.col-centered {
  background-color: lightgrey;
  padding-left: 0px;
  padding-right: 0px;
}
.col-centered img {
  padding-top: 26px;
}
#category-container {
  align: center;
  text-align: center;
  width: 75%;
  height:auto;
}

/* .vertical-centre helps give the #category-container some aligning help */
.vertical-centre {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: center;
  justify-content: center;
}

/* un-used
#categories-container {
  margin-top: 100px;
  display: flex;
  background-color: black;
  border-width: medium;
  border-color: white;
  width:auto;
  height: 700px;
}


#category1-container {
  margin-right: 40px;
}
*/

/* .category-heading css give the headings within the category divs their styling and placing them within the center of their div */
.category-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/* .category-Picture css sets the width and height of the pictures within the category divs */
.categoryPicture {
  /*height: 250px;
  width: 400px;*/
  	max-width: 20%;
  	min-width: 240px;
  	margin-right: 5px;
}

/* .addedDiv sets the background colour and styling properties for the category divs on userpage.html */
.addedDiv {
  width: auto;
  background-color: lightgrey;
  overflow: hidden;
  display: inline-block;
  margin: 25px;
}


/* .expandable-container sets the background colour (just placeholder) of the div that holds all of the categories within userpage.html */



.expandable-container {
  margin-left: 26.25%;
  margin-right: 26.25%;
  display: block;
  align-self: center;
  background-color: lightgrey;
  height: auto;
  width: auto;

}

/*.addDivFunction css section places the category name input field and the button to create the category div in the
  top righthand section of the #expandableId container */
.addDivFunction {
  float: right;
}

/* Not needed atm (keeping incase we need to change back)
.navbar {
  margin-bottom: 0px;
} */

/*.divButton sets the position of the 'remove' button to be within the category divs on userpage.html */
.divButton {
  position: absolute;
  /* float:left; */
  margin-right: 0px;
}

/*.catbtn css section makes the button not appear when the page is loaded */
.catbtn {
  display: none;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: auto;
	position: relative;
}
.flex-text {
	flex-grow: 1;
}
.flex-row img {
	min-width: 0;
	width: 100%;
}
