body {
  margin: 0px;
}

#ideaName {
  color: white;
  float: left;
  display: inline;
  padding-left: 10px;
}

#signUp {
  float: right;
}

.signUp {
  float: right;
  padding-top: 25px;
  padding-right: 10px;
}

#login {
  float: right;

}

.login {
  float: right;
  padding-top: 25px;
  padding-right: 10px;
}

.passForm {
  float: right;
  padding-top: 25px;
  padding-right: 10px;
}

#passwordBox {
  float: right;
}

.userForm {
  float: right;
  padding-top: 25px;
  padding-right: 10px;
}


/* Navbar container
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
} */


/* Links inside the navbar
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

} */

/* The dropdown container
.dropdown {
  text-align: center;
  overflow: hidden;
  float: left;
  padding-top: 20px;
  padding-left: 10px;
}*/

/* Dropdown button
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
} */


/* Add a red background color to navbar links on hover
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
} */

/* Dropdown content (hidden by default)
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} */

/* Links inside the dropdown
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
} */

/* Add a grey background color to dropdown links on hover
.dropdown-content a:hover {
  background-color: #ddd;
} */

/* Show the dropdown menu on hover
.dropdown:hover .dropdown-content {
  display: block;
} */


#logo{
  text-align: center;
}

#getStartedButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#getStartedButton {
  height: 50px;
  width: 100px;
}

#main {
  background-image: url("homebackground.jpg");
  background-size: cover;
  height:100%;
  width:100%;
  bottom: 0;
  height: 100vh;
  justify-content: center;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   font-family: "Verdana", sans-serif;
   text-align:left;
   padding: 5px;
}

.vertical-centre {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: center;
  justify-content: center;
}

#navbar {
  margin-bottom: 0px;
}

.dropdown {
  padding: 0px;
}

.signUp {
  padding: 0px;
  margin: 10px;
}

.login {
  padding: 0px;
  margin: 10px;
}

.passForm {
  padding: 0px;
  margin: 10px;
}

.userForm {
  padding: 0px;
  margin: 10px;
}

.back {
    width: 33%;
    height: 200px;
    float: left;
    background-color: #eeeeee;
    border: 10px;
    border-color: #ffffff;
    border-style: solid;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    counter-increment: bc;
    padding: 0px 5px 5px 5px;
}

.back:before {
    content: counter(bc) "_";
    position: absolute;
    padding: 10px;
}

@media screen and (max-width: 1260px) {
    .back {
        width: 50%;
    }
}

@media screen and (max-width: 840px) {
    .back {
        width: 100%;
    }
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -100px;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
    border-radius: 12px;
}

.button_base:hover {
    cursor: pointer;
}

.b03_skewed_slide_in {
    overflow: hidden;
    border: #000000 solid 1px;
}

.b03_skewed_slide_in div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}

.b03_skewed_slide_in div:nth-child(1) {
    color: #000000;
    background-color: #ffffff;
}

.b03_skewed_slide_in div:nth-child(2) {
    background-color: #000000;
    width: 230px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: translate(-250px, 0px) skewX(-30deg);
    -webkit-transform: translate(-250px, 0px) skewX(-30deg);
    -moz-transform: translate(-250px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in div:nth-child(3) {
    color: #ffffff;
    left: -200px;
    transition: left 0.2s ease;
    -webkit-transition: left 0.2s ease;
    -moz-transition: left 0.2s ease;
}

.b03_skewed_slide_in:hover div:nth-child(2) {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transform: translate(-15px, 0px) skewX(-30deg);
    -webkit-transform: translate(-15px, 0px) skewX(-30deg);
    -moz-transform: translate(-15px, 0px) skewX(-30deg);
}

.b03_skewed_slide_in:hover div:nth-child(3) {
    left: 0px;
    transition: left 0.30000000000000004s ease;
    -webkit-transition: left 0.30000000000000004s ease;
    -moz-transition: left 0.30000000000000004s ease;
}
