body {

}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   font-family: "Verdana", sans-serif;
   text-align:left;
   padding: 5px;
}

#mainSection {
  text-align: center;
  height: 100%;
  bottom: 0;
}
/* .footer {
  background-color: black;
  color: white;
  font-family: "Verdana",sans-serif;
  padding: 5px;
  margin-bottom: 0px;
  bottom: 0px;
  width: 100%;
  left:0px;
}
*/

/*
.row-block {
  width: 100%;
  display: block;
  display:
}
*/

.row-block {
  background-color: none;
}


.col-centered {
  background-color: lightgrey;
  padding-left: 0px;
  padding-right: 0px;
}
.col-centered img {
  padding-top: 26px;
}
#category-container {
  align: center;
  text-align: center;
  width: 75%;
  height:auto;
}

.vertical-centre {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: center;
  justify-content: center;
}

#categories-container {
  margin-top: 100px;
  display: flex;
  background-color: black;
  border-width: medium;
  border-color: white;
  width:auto;
  height: 700px;
}

#category1-container {
  margin-right: 40px;
}

.category-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.categoryPicture {
  height: 250px;
  width: 400px;
}

#signUp {
  float: right;
}

.signUp {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#login {
  float: right;

}

.login {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.passForm {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#passwordBox {
  float: right;
}

.userForm {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
