<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Category Page</title>
    <link rel="stylesheet" href="categoriespage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- These links and scripts are from bootstrap in order to get the styling and the functionality of the navbar correct -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="main.js"></script>

    </script>
    <!--                  END OF BOOTSTRAP LINKS                  -->
  </head>
  <body>
    <!-- This is the navbar that has its css and functionality through the bootstrap that is linked in the head -->
    <% include ../partials/navbar %>

<!-- The div with id='mainSection' is a div that starts just under the nav bar and flows to the bottom of the page -->
<!--<div class="container">
    <div class="container vertical-centre" id="category-container">
      <div class="row row-centered row-block">
        <div class="col-md-4 col-centered">
          <img src="videoediting.jpg" alt="" class="categoryPicture" id="Video Editing">
          <h3 class="category-heading">Video Editing</h3>
        </div>

        <div class="col-md-4 col-centered">
          <img src="photoeditingicon.jpg" alt="" class="categoryPicture" id="Photo Editing">
          <h3 class="category-heading">Photo Editing</h3>
        </div>

        <div class="col-md-4 col-centered">
          <img src="gamingicon.jpg" alt="" class="categoryPicture" id="Gaming">
          <h3 class="category-heading">Gaming</h3>
        </div>
      </div>
      <div class="row row-centered row-block">
        <div class="col-md-4 col-centered">
          <img src="officesoftwareicon.jpg" alt="" class="categoryPicture" id="Office Work">
          <h3 class="category-heading">Office Work</h3>

        </div>

        <div class="col-md-4 col-centered">
          <img src="softwaredevicon.jpg" alt="" class="categoryPicture" id="Software Development">
          <h3 class="category-heading">Software Development</h3>
        </div>

        <div class="col-md-4 col-centered">
          <img src="securityicon.jpg" alt="" class="categoryPicture" id="Security">
          <h3 class="category-heading">Security</h3>
        </div>
      </div>
  </div>
</div>-->

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <article>
        <img src="videoediting.jpg" alt="" class="categoryPicture" id="Video Editing">
      <div class="category-heading">
        Video Editing
      </div>
    </article>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <article>
        <img src="photoeditingicon.jpg" alt="" class="categoryPicture" id="Photo Editing">
      <div class="category-heading">
        Photo Editing
      </div>
    </article>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <article>
        <img src="gamingicon.jpg" alt="" class="categoryPicture" id="Gaming">
      <div class="category-heading">
        Gaming
      </div>
    </article>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <article>
        <img src="officesoftwareicon.jpg" alt="" class="categoryPicture" id="Office Work">
      <div class="category-heading">
        Office work
      </div>
    </article>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <article>
        <img src="softwaredevicon.jpg" alt="" class="categoryPicture" id="Software Development">
      <div class="category-heading">
        Software Development
      </div>
    </article>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <article>
        <img src="securityicon.jpg" alt="" class="categoryPicture" id="Security">
      <div class="category-heading">
        Security
      </div>
    </article>
  </div>
</div>

<!--<div class="row">
  <div class="col-centered">
    <img src="videoediting.jpg" alt="" class="categoryPicture" id="Video Editing">
    <h3 class="category-heading">Video Editing</h3>
  </div>
</div>-->

  <!-- This is the footer that sticks to the bottom of the page and is the same in every webpage -->
  <div class="footer">
    <% include ../partials/footer %>
    </div>
  </body>

</html>
