<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Category Page</title>
    <link rel="stylesheet" href="categoriespage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- These links and scripts are from bootstrap in order to get the styling and the functionality of the navbar correct -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="main.js"></script>

    </script>
    <!--                  END OF BOOTSTRAP LINKS                  -->
  </head>
  <body>
    <!-- This is the navbar that has its css and functionality through the bootstrap that is linked in the head -->
    <% include ../partials/navbar %>

<!-- The div with id='mainSection' is a div that starts just under the nav bar and flows to the bottom of the page -->
<div id="mainSection">
    <!-- This will be the main container for all of the categories -->
    <div class="container vertical-centre" id="category-container">
      <!-- The rows use bootstrap that is linked within the head section in order to keep their styling -->
      <!-- Each row contains an image and a heading underneath to depict the name of the category -->
      <div class="row row-centered row-block">
        <div class="col-md-4 col-centered">
          <img src="VideoEditingIcon.jpg" alt="" class="categoryPicture" id="Video Editing">
          <h3 class="category-heading">Video Editing</h3>
        </div>

        <div class="col-md-4 col-centered">
          <img src="computer-background-design_1300-36.jpg" alt="" class="categoryPicture" id="Photo Editing">
          <h3 class="category-heading">Photo Editing</h3>
        </div>

        <div class="col-md-4 col-centered">
          <img src="computer-background-design_1300-36.jpg" alt="" class="categoryPicture" id="Gaming">
          <h3 class="category-heading">Gaming</h3>
        </div>
      </div>
      <div class="row row-centered row-block">
        <div class="col-md-4 col-centered">
          <img src="computer-background-design_1300-36.jpg" alt="" class="categoryPicture" id="Office Work">
          <h3 class="category-heading">Office Work</h3>

        </div>

        <div class="col-md-4 col-centered">
          <img src="computer-background-design_1300-36.jpg" alt="" class="categoryPicture" id="Software Development">
          <h3 class="category-heading">Software Development</h3>
        </div>

        <div class="col-md-4 col-centered">
          <img src="computer-background-design_1300-36.jpg" alt="" class="categoryPicture" id="Security">
          <h3 class="category-heading">Security</h3>
        </div>
      </div>
    <!-- End of #category-container -->
  </div>
<!-- End of #mainSection -->
    </div>
  <!-- This is the footer that sticks to the bottom of the page and is the same in every webpage -->
  <div class="footer">
    <% include ../partials/footer %>
    </div>
  </body>

</html>
