<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="homepage.css">
    <title>Homepage</title>
    <!-- These links and stylesheets, from bootstrap, give the navbar its styling and functionality -->
    <% include ../partials/head %>
  </head>
  <body>
    <!-- This is the start of the navbar code. It gets the css and jquery that it needs for its styling and functionality -->
    <% include ../partials/navbar %>
    <!-- This is a div that sits under the nav bar and flows to the bottom of the page -->
    <div id="main">
      <div class="vertical-centre"id="logoAndButton">
      <div id="logo">
        <img src="techstart.png" alt="">
      </div>
      <div id="getStartedButtonContainer">
        <!--<button type="button" name="button" id="getStartedButton"><a href="/categoriespage">Get Started!</a></button>-->
        <form>
          <input type="button" value="Get started!" onclick="window.location.href='/categoriespage'" />
        </form>
      </div>
      </div>
    </div>
    <!-- This is the footer that is applied to each page -->
    <div class="footer">
      <% include ../partials/footer %>
    </div>
  </body>




</html>
