<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="login.css">
  <link rel="stylesheet" href="homepage.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <% include ../partials/head %>
</head>


<body>
  <% include ../partials/navbar %>
    <div class="container">

      <main>
        <div class="jumbotron">

          <h2>Login</h2>
          <!-- simple login form, submits to our /dologin route -->
          <form action="/dologin" method="POST">
            <input type="text" placeholder="username" name="username">
            <input type="password" placeholder="password" name="password">
            <!-- <button type="submit">Submit</button> -->
            <!-- The divs below were for a different styled button -->
            <div id="getStartedButtonContainer">
              <!--<button type="button" name="button" id="getStartedButton"><a href="/categoriespage">Get Started!</a></button>-->
            <!-- This is the 'get started' button that takes you to the categories page if the user is already logged in and to the login if they arent -->
            <div class="button_base b03_skewed_slide_in" input type="submit" value="Submit" onclick="window.location.href='/'" />
              <div>Submit</div>
              <div></div>
              <div>Submit</div>
            </div>
          </form>
        </div>


      </div>

    </main>

    <div class="footer">
      <% include ../partials/footer %>
    </div>
    </div>
</body>

</html>
