<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="login.css">
  <link rel="stylesheet" href="homepage.css">
  <% include ../partials/head %>
</head>


<body>
      <% include ../partials/navbar %>
      <div class="container">

  <main>
    <div class="jumbotron">

      <h2>Login</h2>
      <!-- simple login form, submits to our /dologin route -->
      <form action="/dologin" method="POST">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <div class="button_base b03_skewed_slide_in" input type="button" value="Get started!" onclick="window.location.href='/categoriespage'" />
            <div>Submit</div>
            <div></div>
            <div>Submit</div>
    </div>
      </form>


    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</div>
</body>

</html>
