<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
<% include ../partials/navbar %>
<div class="container">

  <main>
    <div class="jumbotron">

      <h3>Sign Up</h3>

      <form action="/signup" method="POST">
        <p>Name:</p>
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="First Name" name="first">
        <input type="text" placeholder="Last Name"  name="last">
        <p>Login</p>
        <input type="email" placeholder="Email"    name="email">
        <input type="text" placeholder="Username"     name="username">
        <input type="password" placeholder="Password"  name="password">
        <p>Details</p>
        <input type="text" placeholder="Gender" name="gender">
        <input type="datetime" placeholder="Date of Birth"    name="dob">
        <p>Location</p>
        <input type="text" placeholder="Street"   name="street">
        <input type="text" placeholder="City"     name="city">
        <input type="text" placeholder="State"    name="state">
        <input type="text" placeholder="Postcode" name="postcode">
        <!-- <p>Pictures</p>
          <input type="text" placeholder="large"     name="large">
          <input type="text" placeholder="medium"    name="medium">
          <input type="text" placeholder="thumbnail" name="thumbnail"> -->
        <button type="submit">Submit</button>
      </form>



    </div>
  </main>

</div>
<div class="footer">
  <% include ../partials/footer %>
</div>
</body>

</html>
