<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Userpage</title>
    <link rel="stylesheet" href="categoriespage.css">
    <!-- These links and scripts are from bootstrap in order to get the styling and the functionality of the navbar correct -->
    <% include ../partials/head %>

    <!-- This is the js file that contains the hovering functionality, adding the categories as well as removing them -->
    <script src="userpage_jq.js"></script>

  </head>
  <body>
    <!-- This is the navbar that has its css and functionality through the bootstrap that is linked in the head -->
    <!-- nav bar -->
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Userpage</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Navigation<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="homepage.html">Homepage</a></li>
          <li><a href="categoriespage.html">Categories</a></li>
          <li><a href="list.html">Content List</a></li>
          <li><a href="userpage.html">User Page</a></li>
        </ul>
      </li>
    </ul>
    <div class="signUp">
      <button id="signUp">Sign Up</button>
    </div>
    <div class="login">
      <button id="login">Login</button>
    </div>
    <div class="passForm">
      <form name='password'>
        <input type="text" name="q" id="passwordBox" size="25" placeholder="Password">
      </form>
    </div>
    <div class="userForm">
      <form name='username'>
        <input type="text" name="q" id="usernameBox" size="25" placeholder="Username">
      </form>
    </div>
      </div>

    </nav>


    <!-- This is the big container div that expands with the addition of categories -->
    <div class="expandable-container" id="expandableId">
      <!-- This is the div that contains the text box and button required to add a category -->
      <div class="addDivFunction">
        <!-- This is the form that contains the text input box and the button -->
        <form name='search'>
          <input type="text" name="q" id="addbox" size="50" placeholder="Category name">
          <input type="button" value="Add Category!" onclick="addCategory()">
        </form>
      </div>


      <!-- These are just divs that are hard coded for testing.-->
      <!--**************************************************** -->
      <!-- The general repeating structure is that there is a div called 'addedDiv'
            That contains a div called 'divButton' that holds the button, an image representing the category,
            and the name of the category. They get their css from the 'categoriespage.css' file the javascript functionality comes from
            userpage_jq.js
          -->
      <!--**************************************************** -->
      <!-- The buttons within the .addedDiv div's will display only when the cursor is hovering over them -->
      <!-- Clicking on the button will remove that category that the button is within -->
      <div class="addedDiv">
        <div class="divButton">
          <button class='catbtn' type="button" name="button" onclick="removePlease()">Remove</button>
        </div>
        <img src="computer-background-design_1300-36.jpg" alt="" class="categoryPicture">
        <h3 class="category-heading">Category 1</h3>
      </div>
      <div class="addedDiv">
        <div class="divButton">
          <button class='catbtn' type="button" name="button" onclick="removePlease()">Remove</button>
        </div>
        <img src="computer-background-design_1300-36.jpg" alt="" class="categoryPicture">
        <h3 class="category-heading">Category 1</h3>
      </div>
      <div class="addedDiv">
        <div class="divButton">
          <button class='catbtn' type="button" name="button" onclick="removePlease()">Remove</button>
        </div>
        <img src="computer-background-design_1300-36.jpg" alt="" class="categoryPicture">
        <h3 class="category-heading">Category 1</h3>
      </div>
      <div class="addedDiv">
        <div class="divButton">
          <button class='catbtn' type="button" name="button" onclick="removePlease()">Remove</button>
        </div>
        <img src="computer-background-design_1300-36.jpg" alt="" class="categoryPicture">
        <h3 class="category-heading">Category 1</h3>

      </div>

    </div>

  <!-- This is the footer that is applied to every page, its css comes from the 'categoriespage.css' file -->
  <div class="footer">
    <p>Created By Serena McGurk, Charlie Marsh, Ryan McConnell, Andrew Lamond, Elliot Kitching</p>
    </div>

  </body>
</html>
